#This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[board_pins]
aliases:
    # BLTouch (Servo/Probe)
    SERVO0=PA1,
    PROBE=PC14,
   
    # Power Controls
    PS_ON=PC13,
    PWE_DCT=PC12,

    # RGB
    RGB=PA8,

    # Limit Switches
     X_STOP=PC0,
     Y_STOP=PC1,
     Z_STOP=PC2,
    E0_STOP=PC15,

    # Steppers
    RX=PC11, TX=PC10,
     X_STEP=PB13, X_DIR=PB12,  X_ENABLE=PB14,
     Y_STEP=PB10, Y_DIR=PB2,   Y_ENABLE=PB11,
     Z_STEP=PB0,  Z_DIR=PC5,   Z_ENABLE=PB1,
    E0_STEP=PB3, E0_DIR=PB4,  E0_ENABLE=PD1,

    TEMP_0=PA0,
    TEMP_BED=PC4,

    FAN=PC6,
    FAN1=PC7,
    FAN2=PB15,
    HEAT_0=PC8,
    HEAT_BED=PC9,

    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>,

    # I/O Header
    IO_1=PD5, IO_2=PD4, IO_3=PD3, IO_4=PD2,IO_5=PD0
