#####################################################################
#  Webclient Settings
#####################################################################
[virtual_sdcard]
path: ~/sdcard

# Enable status panel messages
[display_status]

# This adds pause/resume support
[pause_resume]

# Enable the "M118" and "RESPOND" extended commands.
[respond]
default_type: echo
default_prefix: echo:


#####################################################################
#  LCD Menu Items
#####################################################################
[menu __main __octoprint]
type: disabled

[menu __main __sdcard]
type: list
enable: {'virtual_sdcard' in printer}
name: SD Card

[menu __main __sdcard __file]
type: command
name: File: {printer.print_stats.filename}
index: 0

[menu __main __sdcard __load]
type: vsdlist
#type: list
#event_sender: __vsdfiles
enable: {printer.print_stats.filename == "" and (printer.print_stats.state == "standby" or printer.print_stats.state == "error" or printer.print_stats.state == "complete")}
name: Load file
index: 1

[menu __main __sdcard __unload]
type: command
enable: {printer.print_stats.filename != "" and (printer.print_stats.state == "standby" or printer.print_stats.state == "error" or printer.print_stats.state == "complete")}
name: Unload file
index: 2
gcode:
  # back is needed to reload the modified menu structure
  {menu.back()}
  SDCARD_RESET_FILE

[menu __main __sdcard __start]
type: command
enable: {printer.print_stats.filename != "" and (printer.print_stats.state == "standby" or printer.print_stats.state == "error" or printer.print_stats.state == "complete")}
name: Start print
index: 3
gcode:
  {menu.exit()}
  M24

[menu __main __sdcard __pause]
type: command
enable: {printer.print_stats.state == "printing"}
name: Pause print
gcode:
  # back is needed to reload the modified menu structure
  {menu.back()}
  PAUSE

[menu __main __sdcard __resume]
type: command
enable: {printer.print_stats.state == "paused"}
name: Resume print
gcode:
  {menu.exit()}
  RESUME

[menu __main __sdcard __cancel]
type: command
enable: {printer.print_stats.state == "paused"}
name: Cancel print
gcode:
  {menu.exit()}
  CANCEL_PRINT


#####################################################################
#  Macros
#####################################################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 60     #edit to your park position
default_parameter_Y: 0      #edit to your park position
default_parameter_Z: 5      #edit to your park position
default_parameter_E: 0.2    #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE

    # Anti-Stringing
    G91                 ; relative positioning
    G1 E-{E} F2100      ; retract filament
    G1 X1 F20000        ; move 1mm to the side at 333mm/sec
    G90                 ; absolute positioning (avoid G2 in rel mode erroring out)
    G2 E0 I-1           ; do a no extrusion circle move with a 0.5mm radius centered on orig
    G91                 ; relative positioning (avoid G2 in rel mode erroring out)
    G1 Z{Z} F3000      ; move up by 5mm @ 50mm/sec to clear the print
    G90                 ; absolute positioning

    G1 X{X} Y{Y} F6000  ; Move toolhead to park location


[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 0.2    #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
default_parameter_X: 0    #edit to your park position
default_parameter_Y: 0    #edit to your park position
default_parameter_Z: 117  #edit to your park position
gcode:
    M104 S0
    M140 S0
    M141 S0
    M106 S0

    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

